<div class="landing-main">
        <%= image_tag("LupoBiancoWhite.png", class: "logo", alt: "Lupo Bianco Custom Tailoring") %>
        <br>
        <br>
        <%= link_to 'LOG IN', login_path %>
        <br>
        <br>
        <%= link_to 'SIGN UP', new_user_path %>
    
</div>
